/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  .card-big {
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
  }

  .newsletter {
    display: none;
  }

  .hidden-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-list {
    margin-left: 1.5rem;
    margin-bottom: 3rem;
  }

  .load-more {
    margin-top: 1rem;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 601px) {
  .landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-list {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
  }

  .hidden-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }

  #hidden-card {
    display: block;
  }

  .load-more {
    margin-top: 1rem;
  }

  .card-big,
  .newsletter {
    display: none;
  }

  .header-main {
    font-size: small;
  }

  .footer-main .wrapper .nav-horizontal {
    line-height: 2rem;
  }

  .footer-main .wrapper section {
    margin-right: 2rem;
  }
}
